.todo-list {
    background-color: #fF6962;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}
.todo-item {
    border-bottom: 1px solid black;
    padding: 8px 0;
    background-color: #FFD6D4;
    border-radius: 8px;
    margin-top: 5px;
}

.btn {
    background-color: aliceblue;
    color: black;
    border: none;
    transition: 0.8s;
}

.btn:hover {
    background-color: #FFD6D4;
    color: black;

}
