*{
 font-family: cursive sans-serif;

}

body{
  background-color: rgba(255, 255, 255, 0);
}


input[type="date"]{
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 16px;

}

input[type="date"]:focus {
  border-color: #FF6962;
  outline: none;
}

input[type="text"]{
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 16px;
}


input[type="text"]:focus{
  border-color: #FF6962;
  outline: none;
}


textarea[id="modal-description"]{
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 16px;

}

textarea[id="modal-description"]:focus {
  border-color: #ff808e;
  outline: none;
}


.form-control{
  background-color: #FFD6D4;
}
